/* .appear {
    opacity: 0.1; 
    transition: opacity 0.7s ease, transform 0.7s ease;
    transform: translateX(-60px);
}

.appear.box {
    opacity: 1;
    transform: translateX(0);
} */

.lazy-img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.appear{
  width: 100px;
  margin: 600px;
}
.img-appear{
  background-image: url(../hm/Screenshot\ 2025-12-31\ 161600.png);
  background-repeat: no-repeat;
}


/* .fruits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fruits-list li {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.fruits-list img {
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.fruits-list h3 {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 20px;
  padding: 10px;
  /* position: absolute; */
/* bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
} */
